extends layout

block content
  div.jumbotron
    h1 KISSY MINI
    p.lead 为移动端量身定制的前端开发框架，轻巧易用，源自KISSY！ 
    p
      a.btn.btn-lg.btn-info(href='http://gitlab.alibaba-inc.com/kissy/m', role='button' target='_blank') 查看源码
      a.btn.btn-lg.btn-success(href='/docs/quickstart', role='button') 快速上手
  div.row.marketing
    div.col-md-6
      h4 轻量级
      p gizp后，文件大小约8 ~ 13k。

    div.col-md-6
      h4 源自KISSY
      p 遵循KISSY模块规范，API与KISSY保持一致，可无缝切换至KISSY。
