/* Space out content a bit */
body {
  padding-bottom: 20px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,"Hiragino Sans GB",sans-serif;
  font-size: 16px;
  line-height: 1.7;
}
 
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
 
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  width: 730px;
  padding-top: 20px;
  background-color: #fff;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.header h3 a {
  text-decoration: none;
}

.caption .title {
  text-align: center; 
  font-weight: bold;
}

.dropdown-menu {
  background-color: rgba(255,255,255,0.95);
}
.dropdown .dropdown-menu li {
  height: 32px;
}
.dropdown .dropdown-menu li a {
  line-height: 32px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: rgba(0,150,250,0.2);
}
 
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
 
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 760px;
    width: 760px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
 
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 110px;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  margin: 0 20px;
}
 
.article {
  margin-top: 110px;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
 
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}